body {
    font-family: Verdana, serif;
}

input[type=text], select, textarea {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Verdana, serif;
}

label {
    font-family: Verdana, serif;
}
.container input:checked ~ .checkmark {
    background-color: darkgrey;
}
.checkmark:after {

    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {

    display: inline-block;
}
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.inline-block {
    display: inline-block;
}

