@()

@main("About Us") {
<center>
<h2> About Us   </h2>

    <h3> Team 3  </h3>

    <H4> Danny Pennington (Team Leader)  </H4>
    <p></p>
    <a href="https://github.com/DannyPennington" class="card-link" target="_blank">Link to Github</a>
    <br>
    <H4> Ahmed Ibrahim   </H4>
    <a  href="https://github.com/AIbrahimQA" class="card-link" target="_blank">Link to Github</a>
    <br>
    <H4> Johannes Bull   </H4>
    <br>
    <H4> Sam White  </H4>
    <br>
    <H4> Taiwo Oluwatolafun Aina-Badejo   </H4>
    <br>
</center>
}