@()

@main("QA Cinema Classifications") {

<!DOCTYPE html>
    <html>
        <body>

            <h1>QA Cinema Classifications</h1>

            <div>
                <p> All film classification decisions are based on the British Board of Film Classification's (BBFC) published and regularly updated guidelines.

                    For more detailed information about BBFC rulings, and for information for parents regarding film classifications and their suitability.</p>


            </div>

            <div>

                <h4>
                    To be confirmed  </h4>

                <p>
                    In some instances films had not been certified before the website was uploaded.

                    Child and Family tickets purchased before a film is certified as 15 or over can be refunded. Please contact Guest Services before the performance for a refund, as admission may be refused on the day. </p>

            </div>

            <div>
                <h4>
                    Universal </h4>

                <p>
                    Suitable for audiences aged 4 years and over. Check with consumer advice before allowing under 4's to view this film.</p>

            </div>

            <div>
                <h4>
                    Parental Guidance
                </h4>
                <p>
                    General Viewing, but some scenes may be unsuitable for young children.

                </p>

            </div>

            <div>

                <h4>
                    12A with Parental Guidance </h4>

                <p>
                    12A means that the BBFC have classified the film unsuitable for children under 12. However, they may still watch the film, as long as they are accompanied by someone over 18 at all times during the showing. Advice is given regarding the content of the film and the ADULT must decide if it is appropriate for the accompanying under 12. Please note: proof of age may be required.

                </p>

            </div>


            <div>


                <h4>
                    15 </h4>
                <p>
                    Suitable only for persons of 15 years and older. Please note: proof of age may be required.

                </p>
            </div>
            <div>
                <h4>
                    18 </h4>
                <p>
                    Suitable only for persons of 18 years and older. Please note: proof of age may be required


                </p>

            </div>

            <a href="https://bbfc.co.uk/" class="button">Please visit bbfc.co.uk (opens in a new window).</a>

        </body>
    </html>


}