@()

@main("QA Cinema Classifications") {

<!DOCTYPE html>
    <html>
        <body>

            <h1>QA Cinema Classifications</h1>

            <div>
                <p> All film classification decisions are based on the British Board of Film Classification's (BBFC) published and regularly updated guidelines.

                    For more detailed information about BBFC rulings, and for information for parents regarding film classifications and their suitability.</p>

                <a href="https://bbfc.co.uk/" class="button">Please visit bbfc.co.uk (opens in a new window).</a>


            </div>


        </body>
    </html>


}