@()(implicit request: Request[AnyContent])

@main("QA Cinema Classifications") {


    <section class="classification_image py-5 mt-5" style="margin-bottom: -40px">
        <h1 class="title">QA Cinema Classifications</h1>
        <center>
            <div class="border"></div>
        </center>

        <div class="about_body mx-auto" style="padding: 40px 0px">
            <p class="para">
                All film classification decisions are based on the British Board of Film Classification's (BBFC) published and regularly updated guidelines.

                For more detailed information about BBFC rulings, and for information for parents regarding film classifications and their suitability.</p>


        </div>
        <div class="card mx-auto card_colour" style="min-width: 80%;">
            <h1 class="cardHeader pt-3"> Film Classification  </h1>
            <div class="border_card"></div>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 text-left">
                            <h4 class="header_card" >
                                To be confirmed

                            </h4>
                            <img src="https://i.ibb.co/LpZBdrF/tbc.jpg" alt="tbc" border="0">
                        </div>

                        <div class="col-8">
                            <p class="para_card">
                                In some instances films had not been certified before the website was uploaded.

                                Child and Family tickets purchased before a film is certified as 15 or over can be refunded. Please contact Guest Services before the performance for a refund, as admission may be refused on the day. </p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 text-left">
                            <h4 class="header_card" >
                                Universal

                            </h4>
                            <img src="https://i.ibb.co/yN82P0S/U100PX.jpg" alt="U100PX" border="0">
                        </div>

                        <div class="col-8">
                            <p class="para_card">
                                Suitable for audiences aged 4 years and over. Check with consumer advice before allowing under 4's to view this film.
                            </p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 text-left">
                            <h4 class="header_card" >
                                Parental Guidance

                            </h4>
                            <img src="https://i.ibb.co/286PydX/PG100PX.jpg" alt="PG100PX" border="0">
                        </div>

                        <div class="col-8">
                            <p class="para_card">
                                General Viewing, but some scenes may be unsuitable for young children.
                            </p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 text-left">
                            <h4 class="header_card" >
                                12A with Parental Guidance

                            </h4>
                            <img src="https://i.ibb.co/NsbwZ8h/12A100PX.jpg" alt="12A100PX" border="0">
                        </div>

                        <div class="col-8">
                            <p class="para_card">
                                12A means that the BBFC have classified the film unsuitable for children under 12. However, they may still watch the film, as long as they are accompanied by someone over 18 at all times during the showing. Advice is given regarding the content of the film and the ADULT must decide if it is appropriate for the accompanying under 12. Please note: proof of age may be required.
                            </p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 text-left">
                            <h4 class="header_card" >
                                15

                            </h4>
                            <img src="https://i.ibb.co/T8BXzPx/15100PX.jpg" alt="15100PX" border="0">
                        </div>

                        <div class="col-8">
                            <p class="para_card">
                                Suitable only for persons of 15 years and older. Please note: proof of age may be required.
                            </p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 text-left">
                            <h4 class="header_card" >
                                18

                            </h4>
                            <img src="https://i.ibb.co/KzgNKWx/18100PX.jpg" alt="18100PX" border="0">
                        </div>

                        <div class="col-8">
                            <p class="para_card">
                                Suitable only for persons of 18 years and older. Please note: proof of age may be required.
                            </p>

                        </div>
                    </div>
                </li>

            </ul>
            <div class="card-body ">
                <a href="https://bbfc.co.uk/about-classification" class="card-link" target="_blank">Please visit bbfc.co.uk for more information</a>

            </div>
        </div>


    </section>


}