@()(implicit request: Request[AnyContent])
@main("Contact Us") {

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            * {
                box-sizing: border-box;
            }

    </style>


    <center>
        <h2>  Contact Page</h2>
        <br>

        <h4> QAC MANCHESTER</h4>
        <br>
        <p><b>Our Address</b><br>Anchorage Quay<br>Salford Quays<br>Manchester<br>M50 3YJ
        </p>
        <br>
        <p><b>Tel:</b> 01942 527 010
        </p>

        <h4> Local Information   </h4>
        <p><b>  Opening Hours </b><br> 9:00am -17:30pm
        </p>

        <p><b>Parking </b><br>The Lowry Car Park is nearby
        </p>
        <p><b>Train </b><br>Manchester Piccadilly Station<br> 1hr walk
        </p>
        <p><b>Hotel </b><br>Holiday Inn Manchester MediaCityUK
        </p>
        <p><b>Cafes </b><br>The Lowery is close by which has many food places
        </p>
        <br>


        <h4>Get in touch</h4>
        <p><b>Email Hours</b><br>9:00am - 17:30pm
        </p>

        <a class = "button" href="@routes.HomeController.email()"><button>Email Us Now</button></a>


    </center>
}