@(film:String, name:String, time: String, date: String, screen: String,adult: String, children: String, concession:String)

@main("Booking details") {
    <div style="margin-left: 50px; margin-top: 50px">
        <h2>
            Booking information
        </h2>
        <br>
        Name: @name <br> <br>
        Film: @film <br> <br>
        Showtime: @time <br> <br>
        Date: @date <br> <br>
        Screen type: @screen <br> <br>
        Adults: @adult <br> <br>
        Children: @children <br> <br>
        Concession: @concession <br> <br>
    </div>
}