@(currentMovieList: List[MovieInfo], reviews: List[DiscussionEntry])(implicit request: Request[AnyContent])

@main("Discussion Board") {
    <div class="discussionBoard">
        <div>
            <h2>
                Discussion Board
            </h2>
            <br> <br>
        </div>

        <form id="discussion" name="discussion" action="/discussion" method="post" autocomplete="off">
            <div class="filmOption">
                <label for="film">Film to review: </label>
                <select id="film" name="film">
                @for(movie <- currentMovieList) {
                    <option id="@{
                        movie.title
                    }">@movie.title</option>
                }
                </select>
            </div>

            <div class="rating">
                <label>
                    <input type="radio" name="rating" value="1"/>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="rating" value="2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="rating" value="3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="rating" value="4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="rating" value="5" checked="checked"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>

            <div class="review">
                <label for="textArea">Review: </label>
                <textarea id="textArea" rows="4" cols="500" name="review" form="discussion" placeholder="Put your review in here..." required></textarea>

            </div>

            <div>
                <input class="discussionSubmit" type="submit" value="Submit review">
            </div>
        </form>
    </div>



    <div style="margin-left: 50px">
        <h2>
            Reviews:
        </h2>
        <br>
        @if(reviews.length == 0) {
            <div style="margin-left: 50px">
                <h4>No reviews yet!</h4>
            </div>
        } else {
            @for(review <- reviews) {
                <div style="margin-left: 50px" class="card">
                    <h5 class="card-title">@review.title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@review.rating/5 - @review.username</h6>
                    <p class="card-text">@review.review</p>
                </div>
            }
        }
    </div>

}