@(form: Form[EmailForm])(implicit messagesProvider: MessagesProvider)
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
</style>


<h2>Send a message</h2>
<h4>Please fill out the information below carefully.</h4>
<div class="container">
    @helper.form(routes.MongoControllerService.createEmail()) {
        @helper.inputText(form("email"), '_label -> "Email Address:", '_showConstraints -> false)
        @helper.inputText(form("subject"), '_label -> "Subject:", '_showConstraints -> false)
        @helper.inputText(form("message"), '_label -> "Message:", '_showConstraints -> false)
        <button type="submit">Submit Email</button>
        <button type="reset">Clear</button>
    }
<a class = "button" href="@routes.HomeController.index()"><button>Back to Homepage </button></a>

</div>