<footer class="text-center">
    <nav>
        <ul class="pt-5 mx-auto">
            <li><a href="#"> Home</a></li>
            <li><a href="#about_section"> About</a></li>
            <li><a href="#" target="_blank"> Listings</a></li>
            <li><a href="#" target="_blank"> Opening times </a></li>
            <li><a href="#" target="_blank"> New Releases</a></li>
            <li><a href="#" target="_blank"> Screens </a></li>
        </ul>
    </nav>
    <p class="footerText"> All rights reserved QA Cinemas 2020 &copy;</p>
</footer>
