@()

@main("Getting Here") {
    <div class="card-group justify-content-center">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Directions</h5>
                <p class="card-text">
                    These are the directions
                </p>
            </div>
        </div>

        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Map</h5>
                <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
                    <iframe src="https://maps.google.com/maps?q=Madryt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border: 0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
}