@()(implicit request: Request[AnyContent])

@main("Homepage") {
    <div id="homepage">
        <div class="container-fluid">
            <section id="image_display" class="pt-5">
                <div class="row view_height bg-danger">
                    <div class=" col  text-center cinema_building py-lg-0 text-white">
                        <h1 class="display-5">Unique</h1>
                        <p class="lead text-white"> One of a kind; special; remarkable </p>
                    </div>
                    <div class=" col text-center escalator  py-lg-0 text-white ">
                        <h1 class="display-5  ">Architecture</h1>
                        <p class="lead text-white "> Offer the best cinematic experience </p>
                    </div>
                    <div class="col  text-center movie_pic   py-lg-0">
                        <h1 class="display-5 text-white ">Quality Service</h1>
                        <p class="lead text-white"> Quality service is our recipe. Expect the best. </p>
                    </div>
                </div>
            </section>
        </div>

        <section id="about_section" class="py-5">
            <h1 class="title"> Welcome to QA Cinemas</h1>
            <center>
                <div class="border"></div>
            </center>
            <center>
                <div class="about_body" style="padding: 40px 0px">
                    <p class="para">
                        Welcoming over 200 million guests each year, QA Cinemas is Europe's largest cinema group having over 500 cinemas around Europe. We aim to create an amazing and inspiring cinematic experience for visitors.
                        <br />
                        ..............................................................................................................
                        <br />
                        <br />
                        <br />
                        Explore a variety of up-to-date films with different classifications to choose from which are shown on different screens and also make available huge space for parking. Also, we provide an online booking system. Our values are centered around trust, fun, quality service and accountability.
                        <br />
                        ..............................................................................................................
                        <br />
                    </p>

                </div>
            </center>
        </section>

        <section id="latest_releases" class="py-5" >
            <h1 class="title">Latest Releases</h1>
            <center>
                <div class="border"></div>
            </center>
            <div class="about_body mx-auto" style="padding: 40px 0px">
                <p class="para">
                    Click on images to watch trailers of the latest movies.
                </p>
            </div>
            <div class="allCards">
                <div class="box ">
                    <center>
                        <div class="card">
                            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">

                                        <!--Content-->
                                    <div class="modal-content">

                                            <!--Body-->
                                        <div class="modal-body mb-0 p-0">

                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                <iframe width="699" height="393" src="https://www.youtube.com/embed/3JNLwlcPBPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                        </div>

                                            <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <span class="mr-4">Spread the word!</span>
                                            <a href="https://www.instagram.com/" target="_blank"  ><i class="fab fa-instagram fa-x text-info" ></i></a>
                                            <a href="https://twitter.com/?lang=en-gb" target="_blank" ><i class="fab fa-twitter fa-x text-info"></i></a>
                                            </a>
                                            <a href="https://en-gb.facebook.com/" target="_blank " ><i class="fab fa-facebook-f fa-x text-info"></i></a>


                                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                        </div>

                                    </div>
                                        <!--/.Content-->

                                </div>
                            </div>
                                <!--Modal: Name-->

                            <a> <img src="@routes.Assets.versioned("images/Findingdory.jpg")" alt="finding Dory image" width="100%"
                            data-toggle="modal" data-target="#modal1"></a>

                            <div style="border-bottom: 1px solid black">
                                <h1 class="cardHeader pt-3"> Finding Dory </h1>
                            </div>
                            <center>
                                <p class="para2 mt-2">
                                    Starring Ellen DeGeneres and Ty Burrell </p>
                            </center>
                        </div>
                    </center>
                </div>
                <div class="box secondRowCard">
                    <center>
                        <div class="card">
                            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">

                                        <!--Content-->
                                    <div class="modal-content">

                                            <!--Body-->
                                        <div class="modal-body mb-0 p-0">

                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                <iframe width="699" height="393" src="https://www.youtube.com/embed/6-T5-Tohan0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                        </div>

                                            <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <span class="mr-4">Spread the word!</span>
                                            <a href="https://www.instagram.com/" target="_blank"  ><i class="fab fa-instagram fa-x text-info" ></i></a>
                                            <a href="https://twitter.com/?lang=en-gb" target="_blank" ><i class="fab fa-twitter fa-x text-info"></i></a>
                                            </a>
                                            <a href="https://en-gb.facebook.com/" target="_blank " ><i class="fab fa-facebook-f fa-x text-info"></i></a>


                                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                        </div>

                                    </div>
                                        <!--/.Content-->

                                </div>
                            </div>
                                <!--Modal: Name-->

                            <a><img src="@routes.Assets.versioned("images/bloodshot.jpg")" alt="Bloodshot image" width="100%"
                            data-toggle="modal" data-target="#modal2"></a>

                            <div style="border-bottom: 1px solid black">
                                <h1 class="cardHeader pt-3"> BloodShot </h1>
                            </div>
                            <center>
                                <p class="para2 mt-2">
                                    Starring Vin Diesel and Eiza González </p>
                            </center>
                        </div>
                    </center>
                </div>
            </div>
            <div class="allCards">
                <div class="box">
                    <center>
                        <div class="card">
                            <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">

                                        <!--Content-->
                                    <div class="modal-content">

                                            <!--Body-->
                                        <div class="modal-body mb-0 p-0">

                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                <iframe width="699" height="393" src="https://www.youtube.com/embed/mSBEWeXkMIk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                        </div>

                                            <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <span class="mr-4">Spread the word!</span>
                                            <a href="https://www.instagram.com/" target="_blank"  ><i class="fab fa-instagram fa-x text-info" ></i></a>
                                            <a href="https://twitter.com/?lang=en-gb" target="_blank" ><i class="fab fa-twitter fa-x text-info"></i></a>
                                            </a>
                                            <a href="https://en-gb.facebook.com/" target="_blank " ><i class="fab fa-facebook-f fa-x text-info"></i></a>


                                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                        </div>

                                    </div>
                                        <!--/.Content-->

                                </div>
                            </div>
                                <!--Modal: Name-->

                            <a><img class="img-fluid z-depth-1" src="@routes.Assets.versioned("images/Dolittle.png")" alt="Dolittle image" width="100%"
                            data-toggle="modal" data-target="#modal3"></a>

                            <div style="border-bottom: 1px solid black ">
                                <h1 class="cardHeader pt-3"> Dolittle </h1>
                            </div>
                            <center>
                                <p class="para2 mt-2">
                                    Starring Robert Downey, Jr. and Tom Holland
                                </p>
                            </center>
                        </div>
                    </center>
                </div>
                <div class="box secondRowCard">
                    <center>
                        <div class="card">
                            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">

                                        <!--Content-->
                                    <div class="modal-content">

                                            <!--Body-->
                                        <div class="modal-body mb-0 p-0">

                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                <iframe width="699" height="393" src="https://www.youtube.com/embed/VzNJVSsjE-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                        </div>

                                            <!--Footer-->
                                        <div class="modal-footer justify-content-center">
                                            <span class="mr-4">Spread the word!</span>
                                            <a href="https://www.instagram.com/" target="_blank"  ><i class="fab fa-instagram fa-x text-info" ></i></a>
                                            <a href="https://twitter.com/?lang=en-gb" target="_blank" ><i class="fab fa-twitter fa-x text-info"></i></a>
                                            </a>
                                            <a href="https://en-gb.facebook.com/" target="_blank " ><i class="fab fa-facebook-f fa-x text-info"></i></a>


                                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                        </div>

                                    </div>
                                        <!--/.Content-->

                                </div>
                            </div>
                                <!--Modal: Name-->

                            <a><img src="@routes.Assets.versioned("images/TheWayBack.jpeg")" alt="The way back image" width="100%"
                            data-toggle="modal" data-target="#modal4"></a>

                            <div style="border-bottom: 1px solid black">
                                <h1 class="cardHeader pt-3"> The Way Back </h1>
                            </div>
                            <center>
                                <p class="para2 mt-2">
                                    Starring  Ben Affleck and Janina Gavankar
                                </p>
                            </center>
                        </div>
                    </center>
                </div>
            </div>
        </section>
    </div>


}
