@(movieInfos: List[MovieInfo])

@main("Listing Gallery") {
    <h2> Listing Gallery</h2>

    @for(movieInfo <- movieInfos) {
        <div>
            <h4>@movieInfo.title</h4>
            <img src="@{movieInfo.url}" alt="poster">
            <h5>Director: @movieInfo.director</h5>
            <h5>Actors: </h5>
            <ul>
                @for(actor <- movieInfo.actors) {
                    <li>@actor</li>
                }
            </ul>

            <h5>Show Times: </h5>
            <ul>
            @for(showTime <- movieInfo.showTimes) {
                <li>@showTime</li>
            }
            </ul>

        </div>
    }

}
