@(movieInfo: MovieInfo)

@main("Movie") {
    <div class="row justify-content-center">
        <div class="card">
            <img src="@{
                movieInfo.url
            }" alt="poster" style="width: 236px;
                height: 350px;">
        </div>
        <div class="card">
            <h4>@movieInfo.title</h4>
            <h5>Director: @movieInfo.director</h5>
            <h5>Actors: </h5>
            <ul>
            @for(actor <- movieInfo.actors) {
                <li>@actor</li>
            }
            </ul>

            <h5>Show Times: </h5>
            <ul>
            @for(showTime <- movieInfo.showTimes) {
                <li>@showTime</li>
            }
            </ul>
        </div>
    </div>
}