

@main("Opening times") {
    <section id="opening_times" class=" py-5 mt-5" style="margin-bottom: -40px">
        <h1 class="title">Opening Times</h1>
        <center>
            <div class="border"></div>
        </center>

        <div class="about_body mx-auto" style="padding: 40px 0px">
            <p class="para">
                The following times are the opening hours of QA Cinemas daily!
            </p>


        </div>
        <div class="card mx-auto card_colour" style="min-width: 80%;">
            <h1 class="cardHeader pt-3"> QA Cinemas Opening Hours  </h1>
            <div class="border_card"></div>

            <table class="table">
                <thead style="background-color: black; color:white;" >
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Monday</th>
                        <td>10:00 - 00:00</td>

                    </tr>
                    <tr>
                        <th scope="row">Tuesday</th>
                        <td>10:00 - 00:00</td>


                    </tr>
                    <tr>
                        <th scope="row">Wednesday</th>
                        <td>10:00 - 00:00</td>


                    </tr>
                    <tr>
                        <th scope="row">Thursday</th>
                        <td>10:00 - 00:00</td>


                    </tr>
                    <tr>
                        <th scope="row">Friday</th>
                        <td>10:00 - 02:00</td>


                    </tr>
                    <tr>
                        <th scope="row">Saturday</th>
                        <td>10:00 - 02:00</td>


                    </tr>
                    <tr>
                        <th scope="row">Sunday</th>
                        <td>11:00 - 10:00</td>


                    </tr>
                </tbody>
            </table>

        </div>

    </section>
}