@(form: Form[paymentForm])(implicit messagesProvider: MessagesProvider)

@main("Create") {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
            body {
                font-family: Arial;
                font-size: 17px;
                padding: 8px;
            }

            * {
                box-sizing: border-box;
            }


            input[type=text] {
                width: 100%;
                margin-bottom: 20px;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            label {
                margin-bottom: 10px;
                display: block;
            }

            .icon-container {
                margin-bottom: 20px;
                padding: 7px 0;
                font-size: 24px;
            }

            .btn {
                background-color: #4CAF50;
                color: white;
                padding: 12px;
                margin: 10px 0;
                border: none;
                width: 100%;
                border-radius: 3px;
                cursor: pointer;
                font-size: 17px;
            }







    </style>

    <h2>QA Cinema Payment</h2>
    <h4>Movie Confirmations</h4>




    <div>
        <label for="mvName"></i>Movie:</label>
    </div>
    <div>
        <label for="mvDate"></i>Date:</label>
    </div>
    <div>
        <label for="mvTime"></i>Time:</label>    </div>

    <div>
        <label for="mvScreen"></i>Screen Type:</label>
    </div>
    <div>
        <label for="mvTickets"></i>Tickets Selected:</label>
    </div>




    <label for="fname">Accepted Cards</label>
    <div class="icon-container">
        <i class="fa fa-cc-visa" style="color: navy;"></i>
        <i class="fa fa-cc-paypal" style="color: blue;"></i>
        <i class="fa fa-cc-mastercard" style="color: red;"></i>
        <i class="fa fa-cc-amex" style="color: orange;"></i>
    </div>

    <h4>Please fill out the information below carefully.</h4>


                    <div class="modal-body">
                        <h1 class = "loginHeaders" style = "color: white">Please enter your details below:</h1>
                        @helper.form(routes.MongoControllerService.createPay()) {
                            @helper.inputText(form("name"), '_label -> "Full Name:", '_showConstraints -> false)
                            @helper.inputText(form("number"), '_label -> "Credit card number:", '_showConstraints -> false)
                            @helper.inputText(form("expDate"), '_label -> "Exp Year:", '_showConstraints -> false)
                            @helper.inputText(form("cvc"), '_label -> "CVV:", '_showConstraints -> false)
                            <button type="submit">Submit Payment</button>
                            <button type="reset">Clear</button>
                        }
                    </div>

                </div>

            </div>
        </div>
    </body>
    </html>
}