@(futureReleaseInfos: List[NewReleaseInfo])

@main("Release Gallery") {
    <section id="release_gallery" class=" py-5 mt-5" style="margin-bottom: -40px;
        padding-left: -40px">
        <h1 class="title"> New Releases Gallery</h1>
        <center>
            <div class="border"></div>
        </center>

        <div class="about_body mx-auto" style="padding: 40px 0px">
            <p class="para">
                Welcome to the new releases gallery!
            </p>

        </div>
        <div class="container">
            <div class="row justify-content-center">

            @for(movieInfo <- futureReleaseInfos) {
                <div class="col-6 text-center">
                    <div class="card mx-auto mt-3" style="text-align: center" onclick="window.location.href = '@routes.FutureMovieController.movie(movieInfo.title)';">
                        <img src="@{
                            movieInfo.url
                        }" alt="poster" width="100%" >
                        <div style="border-bottom: 1px solid black">
                            <h1 class="cardHeader pt-3"> @movieInfo.title </h1>
                        </div>
                        <p class="para2 mt-2">
                    Release Date: @movieInfo.releaseDate
                </p>

                    </div>
                </div>
            }

            </div>
        </div>


    </section>


}