@(futureReleaseInfo: NewReleaseInfo)

@main("Movie") {
    <div class="row justify-content-center">
        <div class="card">
            <img src="@{futureReleaseInfo.url}" alt="poster" style="width:236px;height:350px;">
        </div>
        <div class="card">
            <h4>@futureReleaseInfo.title</h4>
            <h5>Director: @futureReleaseInfo.director</h5>
            <h5>Actors: </h5>
            <ul>
            @for(actor <- futureReleaseInfo.actors) {
                <li>@actor</li>
            }
            </ul>
            <h5>Release Date: @futureReleaseInfo.releaseDate</h5>
        </div>
    </div>
}