@()(implicit request: Request[AnyContent])

@main("Screen information") {

    <section style="background-color: navy; color: white; " class="pt-5 mt-5">
        <h2 class="title">
            Screen information
        </h2>
        <center>
            <div class="border"></div>
        </center>
        <div class="about_body mx-auto" style="padding: 40px 0px">
            <p class="para" >
                Here at QA cinema we deliver only the best of cinema experiences. That's why we offer two kinds of screen for your viewing pleasure.
            </p>
        </div>
    </section>


    <section class="  background_layout " style="margin-bottom: -40px" >
        <div class="container-fluid ">
            <div class="row"  style="border-bottom: 2px solid firebrick; border-top: 2px solid white " >
                <div class="col-6 pt-5 text-center" style="border-right: 2px solid white; ">
                    <h2 class="title">
                        Standard
                    </h2>
                    <center>
                        <div class="border_standard mb-5"></div>
                    </center>
                    <img src="@routes.Assets.versioned("images/standard_seating_plan.jpg")" alt="Standard seating plan" width="502" height="300" >

                    <p class="para pb-5">
                        Standard seating plan
                    </p>
                    <img src="@routes.Assets.versioned("images/standard_cinema_deco.jpg")" alt="Standard decor " width="502" height="300">

                    <p class="para ">
                        Standard decor
                    </p >
                    <p style="color: white">
                        <b> Here's some info about these sweet screens, they are seriously sweet. I mean, look at that - wow. Amazing screens, really, really great. These are the only screens I ever use. Perfect</b>
                    </p>

                </div>
                <div class="col-6 pt-5 text-center" style="background-color: white;" >
                    <h2 class="deluxe_title">
                        Deluxe
                    </h2>
                    <center>
                        <div class="border_deluxe mb-5"></div>
                    </center>
                    <img src="@routes.Assets.versioned("images/deluxe_seating_plan.jpg")" alt="Deluxe seating plan" width="502" height="300" >

                    <p class="para pb-5"style="color: firebrick">
                        Deluxe seating plan
                    </p>
                    <img src="@routes.Assets.versioned("images/deluxe_cinema_deco.jfif")" alt="Deluxe decor " width="502" height="300">

                    <p class="para" style="color: firebrick">
                        Deluxe decor

                    </p>
                    <p style="color: firebrick" >
                        <b>Here's some info about these sweet screens, they are seriously sweet. I mean, look at that - wow. Amazing screens, really, really great. These are the only screens I ever use. Perfect</b>
                    </p>

                </div>

            </div>
        </div>

    </section>




}