@()

@main("Screen information") {
    <div style="margin-left: 50px; margin-top: 50px" >
        <h2>
            Screen information
        </h2>
        <p>
            Here at QA cinema we deliver only the best of cinema experiences. That's why we offer two kinds of screen for your viewing pleasure
        </p>

    <h3>
        <br>
        Standard:
    </h3>
    <div id="standard-screens" style="overflow: hidden; display: inline-block">
        <div class="inline-block">
            <img src="@routes.Assets.versioned("images/standard_seating_plan.jpg")" alt="Standard seating plan" width="502" height="300" style="margin-left:200px">
        </div>
        <div class="inline-block">
            <img src="@routes.Assets.versioned("images/standard_cinema_deco.jpg")" alt="Standard decor " width="502" height="300" style="margin-left:200px">
        </div>
    </div>
    <p style="margin-left:150px;">
        Here's some info about these sweet screens, they are seriously sweet. I mean, look at that - wow. Amazing screens, really, really great. These are the only screens I ever use. Perfect
    </p>
    <br>
    <h3>
        Deluxe:
    </h3>
    <div id="deluxe-screens" style="overflow: hidden; display: inline-block">
        <div class="inline-block">
            <img src="@routes.Assets.versioned("images/deluxe_seating_plan.jpg")" alt="Deluxe seating plan" width="502" height="300" style="margin-left:200px">
        </div>
        <div class="inline-block">
            <img src="@routes.Assets.versioned("images/deluxe_cinema_deco.jfif")" alt="Deluxe decor " width="502" height="300" style="margin-left:200px">
        </div>
    </div>
    <p style="margin-left:150px;">
        And if you weren't impressed before, check out these puppies. Oh my they are quite something. Fully reclining seats, 24/7 chair service with full open bar.
    </p>
    </div>
}