@()

@main("Scrum description") {
    <div id = "scrumDescription">
        <h1 style="text-align: center;"> Scrum </h1>
        <div class="row justify-content-center" >
            <h3> What is Scrum? <br> </h3>
            <h3> The Scrum elements we used: <br> </h3>
            <ul>
                <li> 3-day sprints </li>
                <li> Sprint planning meetings </li>
                <li> Daily standups </li>
                <li> Sprint review meetings </li>
                <li> Trello Board, including Sprint and Product Backlogs </li>
            </ul>
            <h3> How did using Scrum affect our project? <br> </h3>
            <h3 style="text-align: center;"> More info: <br> </h3>
            <a href="https://www.Scrum.org">Scrum.org <br> </a>
        </div>


    </div>
}