@()(implicit request: Request[AnyContent])

@main("Scrum description") {
    <div id = "scrumDescription">
        <h1 style="text-align: center;"> Scrum </h1>
        <h3> What is Scrum? </h3>
        <p> The Scrum framework consists of Scrum Teams and their associated roles, events, artifacts, and rules.
            Each component within the framework serves a specific purpose and is essential to Scrum’s success and usage. <br>
            Scrum employs an iterative, incremental approach to optimize predictability and control risk.
            Three pillars uphold every implementation of empirical process control: transparency, inspection, and adaptation.
        </p>
        <p> An entity that adopts the Scrum framework will consist of self-organising Scrum teams which are typically comprised of 3 to 9 people.
            When implementing a feature, it is assigned to a member of the Scrum team. This member is the only person responsible for deciding how to implement it.
            However, they can of course seek advice from others on how to do this.
        </p>
        <p> Using Scrum allows for higher flexibility and thus makes rapidly adapting to problems more achievable.
            One important goal of Scrum is to regularly add increments to the
            working product to ensure it is potentially deployable at any time</p>
        <h3> The Scrum elements we used: </h3>
        <ul>
            <li> 3-day sprints </li>
            <li> Sprint planning meetings </li>
            <li> Daily standups </li>
            <li> Sprint review meetings </li>
            <li> Trello Board, including Sprint and Product Backlogs </li>
        </ul>
        <h3> How did using Scrum affect our project?  </h3>
        <p> Using Scrum allowed us to localize issues in our code quickly, as we were only adding small
            increments to our working product, and could thus quickly determine which increment caused issues. <br>
            The high amount of coordination and feedback that is encouraged by using Scrum elements, such as Daily Standups,
            Sprint planning or Sprint reviews, also allowed us to organize our work well and thus improve efficiency.
        </p>
        <h3 style="text-align: center;"> More info:  </h3>
        <div style="text-align:center">
            <a href="https://www.Scrum.org">Scrum.org  </a>
        </div>


    </div>
}
