@(search: String, currentMoviesFound: List[MovieInfo])(implicit request: Request[AnyContent])

@main("Results") {
    <section id="search_results" class=" py-5 mt-5" style="margin-bottom: -40px; margin-left: 50px">
        <div style="margin-top: -50px;">
            <h4>Showing results for: @search</h4> <br>
        </div>

        <div>
            <h5>Current movies: </h5>
            @for(movie <- currentMoviesFound) {
                Title: @movie.title <br>
                Director: @movie.director <br>
                Actors: @movie.actors <br>
                Show times: @movie.showTimes <br>
                <a href="@{ "/movie?title=" + movie.title}" >Go to movie info</a> <br> <br>
            }

        </div>

    </section>



}